/*CSS code for Footer.jsx*/

.Contact
{
    padding: 2% 0 2% 0;
}

.title {
    margin: 0 0 3% 0;
}

.Logo-ic
{
    margin: 0 5% 0 5%;
}

.Title-ic {
    margin: 0 0 5% 0;
    text-decoration: underline;
}

.Contact-info
{
    margin: 0 0 0 0;
}

.phone,.building, .mail
{
    padding: 2.5% 2.5% 2.5% 2.5%;
    font-size: 80px;
    color: #d5d5d5;
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 2px #888;
    margin: 0 auto;
}

.Address-ic {
    margin: 3% 0 0 0;
}

.Address-ic a {
    color: #000000;
}

p
{
    text-align: center;
}

/*Responsive styling*/

@media screen and (min-width:678px) and (max-width: 991px) {
    .Contact-info
    {
        margin: 0 auto;
        padding: 0 0 0 35%;
    }

}
@media screen and (max-width: 678px) {
    .Contact-info
    {
        margin: 0;
        padding: 0 0 0 27.5%;
    }

}